<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Testing Socket Messages</title>
    <style>
#messages {
    height: 200px;
    width: 400px;
    overflow: scroll;
    border: 2px solid #999;
    border-radius: 7px;
}
input {
    width: 394px;
}
ul {
    list-style-type: none;
    padding: 3px;
}
li {
    list-style-type: none;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 2px;
}
.received {
    color: #3b3;
}
.sent {
    color: #33b;
}
    </style>
</head>
<body>
    <div>
        <ul id="messages">
        </ul>
        <form onsubmit="sendMessage(); return false">
            <input type="text" id="messageText" />
            <button type="submit">Send</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script>
        var messageInput = document.getElementById('messageText')
        var messages = document.getElementById('messages')
        var socket = io.connect('ws://localhost:5000')
        
        socket.on('message', function(message) {
            createNode(message, 'received')
        })
        
        socket.on('connect', function() {
            //createNode('Socket opened.', '')
            socket.send('User has connected!')
        })
        
        socket.on('close', function() {
            createNode('Socket closed.', '')
            socket.send('User has disconnected!')
        })

        function sendMessage() {
            var messageText = messageInput.value
            socket.send(messageText)
            //createNode(messageText, 'sent')
            messageInput.value = ''
        }

        function createNode(text, c) {
            var node = document.createElement('li')
            var nodeText = document.createTextNode(text)
            if(c !== '')
                node.classList.add(c)
            node.appendChild(nodeText)
            messages.appendChild(node)
        }
    </script>
</body>
</html>
